<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gdcheerios.gentrysquest"
          android:installLocation="auto">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" android:maxSdkVersion="34"/>
    <application
            android:allowBackup="true"
            android:label="Gentry's Quest"
            android:supportsRtl="true">

        <!-- Main Activity -->
        <activity
                android:name=".MainActivity"
                android:label="Gentry's Quest"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities, services, receivers, etc. -->

    </application>
</manifest>